.swiper_container {
  height: 540px; /* Adjust container height */
  padding: 20px 0;
  position: relative;
  perspective: 1000px;
  transition: transform 0.5s ease-in-out;
}

.swiper-slide {
  width: 370px;  /* Base width for slides */
  height: 430px; /* Base height for slides */
  position: relative;
  margin: 0 0.25rem;
  overflow: hidden;
  transform: translateX(0);  /* Default state */
  transition: transform 1s ease, box-shadow 0.5s ease; /* Smooth transition */
  transform-style: preserve-3d;
}

.swiper-slide-active {
  transform: scale(5); /* Focused slide grows larger */
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
}

@media (max-width: 500px) {
  .swiper_container {
    height: 470px;
  }
  .swiper-slide {
    width: 280px !important;
    height: 360px !important;
    margin: 0 0.125rem !important;
  }
  .swiper-slide img {
    width: 280px !important;
    height: 360px !important;
  }
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.slider-controler {
  position: relative;
  bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
  transition: background 0.3s ease;
}

.slider-controler .swiper-button-next:hover {
  background: #f0f0f0;
}

.slider-controler .swiper-button-prev {
  left: 42% !important;
  transform: translateX(-42%) !important;
  transition: background 0.3s ease;
}

.slider-controler .swiper-button-prev:hover {
  background: #f0f0f0;
}

.slider-controler .slider-arrow {
  background: var(--white);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 20px;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  position: relative;
  width: 150px !important;
  bottom: 10px;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--primary);
}
